!frontend/build
.devcontainer/
.dockerignore
.editorconfig
.eslintrc.json
.git*
.github/
.gitignore
.mdlrc
.prettierrc.json
.snyk
.vscode
.yamllint
*.log
*.md
azure*
backend/jest.config.js
backend/src/
backend/test/
backend/tsconfig.json
config.template.json
docker-compose*
Dockerfile*
documentation/
frontend/public/
frontend/src/
frontend/test/
frontend/tsconfig.json
hugo/
mdl_style.rb
node_modules
renovate.json
tsconfig.json
