---
include: https://raw.githubusercontent.com/timmo001/organization/master/gitlab-ci/js-prebuild.yml

variables:
  GITHUB_REPO: "timmo001/home-panel"
  SLUG: "home-panel"
  TARGET: "."

  AARCH64: "true"
  AMD64: "true"
  ARMHF: "true"
  ARMV7: "true"
  I386: "true"

  LEGACY_TAGS: "true"

  PREFLIGHT_ESLINT: "true"
  PREFLIGHT_HADOLINT: "true"
  PREFLIGHT_JSONLINT: "true"
  PREFLIGHT_MARKDOWNLINT: "true"
  PREFLIGHT_SHELLCHECK: "true"
  PREFLIGHT_STYLELINT: "false"
  PREFLIGHT_TSLINT: "true"
  PREFLIGHT_YAMLLINT: "true"
  SNYK_YARN: "false"
  PUBLISH_RELEASE_FILE: "true"
  PAGES_MKDOCS: "true"
