---
trigger: none

pr:
  - "master"

pool:
  vmImage: "ubuntu-latest"

variables:
  - name: "yarnCachePath"
    value: "$(Pipeline.Workspace)/.yarn/cache"
  - group: "github"
  - name: "githubRepository"
    value: "timmo001/home-panel"
  - group: "docker"
  - name: "dockerSlug"
    value: "home-panel"
  - name: "dockerTarget"
    value: "."
  - name: "amd64Base"
    value: "amd64/alpine:3.12.0"
  - name: "arm32v6Base"
    value: "arm32v6/alpine:3.12.0"
  - name: "arm32v7Base"
    value: "arm32v7/alpine:3.12.0"
  - name: "arm64v8Base"
    value: "arm64v8/alpine:3.12.0"

resources:
  repositories:
    - repository: "organization"
      type: "github"
      name: "timmo001/organization"
      endpoint: "timmo001"

stages:
  - stage: "Build"
    dependsOn: []
    jobs:
      - template: azure-ci/build/node-monorepo.yml@organization
  - stage: "Docker"
    dependsOn:
      - "Build"
    condition: succeeded()
    jobs:
      - job: "Docker_Build"
        displayName: "Build"
        strategy:
          maxParallel: 4
          matrix:
            amd64:
              buildArch: "amd64"
              buildBase: $(amd64Base)
            arm32v6:
              buildArch: "arm32v6"
              buildBase: $(arm32v6Base)
            arm32v7:
              buildArch: "arm32v7"
              buildBase: $(arm32v7Base)
            arm64v8:
              buildArch: "arm64v8"
              buildBase: $(arm64v8Base)
        steps:
          - script: |
              mv $(System.DefaultWorkingDirectory)/rootfs/opt/panel/package.json $(System.DefaultWorkingDirectory)
            displayName: "Move backend-only package.json"
          - template: azure-ci/setup/node.yml@organization
          - task: DownloadBuildArtifacts@0
            displayName: "Download Frontend Artifacts"
            inputs:
              artifactName: "frontend-build"
              downloadPath: $(System.DefaultWorkingDirectory)
          - task: DownloadBuildArtifacts@0
            displayName: "Download Backend Artifacts"
            inputs:
              artifactName: "backend-lib"
              downloadPath: $(System.DefaultWorkingDirectory)
          - script: |
              mkdir -p $(System.DefaultWorkingDirectory)/backend/lib
              mkdir -p $(System.DefaultWorkingDirectory)/frontend/build
              mv $(System.DefaultWorkingDirectory)/backend-lib/* $(System.DefaultWorkingDirectory)/backend/lib
              mv $(System.DefaultWorkingDirectory)/frontend-build/* $(System.DefaultWorkingDirectory)/frontend/build
              rmdir $(System.DefaultWorkingDirectory)/backend-lib
              rmdir $(System.DefaultWorkingDirectory)/frontend-build
            displayName: "Setup app"
          - template: azure-ci/docker/qemu-build.yml@organization
            parameters:
              buildArch: "$(buildArch)"
              buildBase: "$(buildBase)"
              githubRepository: "$(githubRepository)"
  - stage: "Pipeline_Passed"
    displayName: "Pipeline Passed"
    dependsOn:
      - "Build"
      - "Docker"
    condition: succeeded()
    jobs:
      - job: "Pipeline_Passed_GitHub"
        displayName: "GitHub"
        steps:
          - task: GitHubComment@0
            displayName: "Send Comment"
            inputs:
              gitHubConnection: "timmo001"
              repositoryName: "$(Build.Repository.Name)"
              comment: |
                ✔️ Pipeline for build [$(Build.BuildNumber)](https://dev.azure.com/timmo0001/Home%20Panel/_build/results?buildId=$(Build.BuildId)&view=results) has passed.
  - stage: "Pipeline_Failed"
    displayName: "Pipeline Failed"
    dependsOn:
      - "Build"
      - "Docker"
      - "Test"
    condition: failed()
    jobs:
      - job: "Pipeline_Failed_GitHub"
        displayName: "GitHub"
        steps:
          - task: GitHubComment@0
            displayName: "Send Comment"
            inputs:
              gitHubConnection: "timmo001"
              repositoryName: "$(Build.Repository.Name)"
              comment: |
                ❌ Pipeline for build [$(Build.BuildNumber)](https://dev.azure.com/timmo0001/Home%20Panel/_build/results?buildId=$(Build.BuildId)&view=results) has failed.

                Check the logs to see what went wrong.
