html,
body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

* > :first-child {
  margin-top: 0;
  padding-top: 0;
}

* > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.2s;
  font-weight: 500;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.34rem;
  height: 0.34rem;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(97, 97, 97, 0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(97, 97, 97, 0.4);
}

#root {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
