html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  transition: color 0.4s;
  color: #e0e0e0;
  text-decoration: none;
}

a:link,
a:visited {
  color: #e0e0e0;
}

a:hover {
  color: #bdbdbd;
}

a:active {
  transition: color 0.3s;
  color: #bdbdbd;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #757575;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #616161;
}
