html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(66, 66, 66, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(66, 66, 66, 0.4); 
}
